.ingredients {
  @apply relative z-10;
  @apply flex flex-col items-center justify-end;
  @apply lg:items-start;

  @screen lg {
    height: calc(100% - 76px - 24px - 24px);
  }

  &__title {
    @apply relative;
    @apply px-4 lg:px-6 my-6;
    @apply font-black text-4xl lg:text-5xl;

    &__layer {
      content: "";
      @apply absolute right-0 top-0 bottom-0 my-auto;
      @apply w-full bg-raffia;
      height: calc(100% + 5px);

      [dir="rtl"] & {
        right: unset;
        @apply left-0;
      }
    }
  }

  &__body {
    @apply overflow-auto;
    @apply w-full;
    @apply flex flex-col gap-6;
  }
}
