.intro {
  @apply relative z-10;
  @apply flex flex-col items-center justify-end;
  @apply lg:items-start;

  @screen lg {
    height: calc(100% - 76px - 24px - 24px);
  }

  &__info {
    @apply relative grow;
    @apply px-4 lg:px-6 my-6;
    @apply text-center lg:text-start;
    @apply flex flex-col justify-center;

    &__title {
      @apply font-black text-5xl md:text-6xl lg:text-7xl my-3 lg:mt-6;
      @apply rtl:lg:mr-10;
    }

    &__subtitle {
      @apply font-normal text-xl lg:text-2xl;

      strong {
        @apply font-bold;
      }
    }

    &__layer {
      content: "";
      @apply absolute right-0 top-0 bottom-0;
      @apply w-full h-full bg-raffia;

      [dir="rtl"] & {
        right: unset;
        @apply left-0;
      }
    }
  }

  &__body {
    @apply w-full flex;
    @apply overflow-auto;
  }
}
