.section {
  @apply w-screen h-auto lg:h-screen;
  @apply overflow-hidden;
  @apply bg-raffia;
  @apply flex flex-col lg:flex-row;

  &__copy-right {
    @apply order-2 lg:order-1;
    @apply px-4 py-6 lg:px-6 lg:py-4;
    @apply flex items-center justify-between gap-4 lg:flex-col;
    @apply lg:border-r border-white border-opacity-30;
    @apply lg:mt-6;
    @apply rtl:lg:border-l rtl:lg:border-r-0;

    span {
      @apply font-normal text-sm lg:text-base;

      @screen lg {
        writing-mode: vertical-rl;
        @apply rotate-180;
      }
    }
  }

  &__container {
    @apply order-1 lg:order-2;
    @apply grow;
    @apply flex flex-col flex-wrap;
  }

  &__nav {
    @apply relative;
    @apply lg:w-1/2;
    @apply shrink-0;
    @apply order-1;
    @apply flex gap-5 lg:gap-8 mx-4 lg:mx-0 lg:px-6 py-5 lg:py-0 lg:mt-6 mb-6;
    @apply font-medium text-sm lg:text-base;

    &::after {
      content: "";
      @apply absolute bottom-0 left-0 right-0;
      @apply block h-0;
      @apply border-b border-white border-opacity-40;
    }

    @screen lg {
      height: 76px;

      &::after {
        @apply -left-full;
        @apply rtl:left-0 rtl:-right-full;
      }
    }

    & > li {
      & > a {
        @apply inline-flex items-center justify-center h-full;
        @apply relative;

        & > span {
          @apply absolute inline-block w-2 h-2 rounded-full;
          @apply -bottom-1 left-0 right-0 mx-auto z-10 bg-black;
        }
      }
    }
  }

  &__body {
    @apply lg:w-1/2;
    @apply grow;
    @apply order-3 lg:order-2;
  }

  &__image {
    @apply relative overflow-hidden;
    @apply order-2 lg:order-3;
    @apply lg:w-1/2;
    @apply shrink-0;
    @apply h-auto lg:h-screen;
    @apply flex flex-col items-center justify-center;
    @apply transition-all duration-1000;

    $parent: &;

    &__layer {
      @apply absolute right-0 top-0 bottom-0;
      @apply block h-full;
      @apply bg-raffia;

      [dir="rtl"] & {
        right: unset;
        @apply left-0;
      }
    }

    &--ingredients {
      @apply lg:p-20;

      #{$parent} {
        &__layer {
          // @apply bg-opacity-75;
        }
      }

      & > div {
        img {
          @media (max-width: 768px) {
            @apply w-auto;
          }
        }
      }
    }

    &--single {
      @apply p-6;
    }
  }
}
