.single {
  @apply relative z-10;
  @apply flex flex-col items-center justify-end;

  @screen lg {
    height: calc(100% - 76px - 24px - 24px);
  }

  &__back {
    @apply self-start;
    @apply px-4 lg:px-6;
    @apply font-semibold text-lg lg:text-xl;
    @apply flex items-start gap-2;

    &::before {
      content: "";
      @apply inline-block w-6 h-6;
      @apply bg-no-repeat bg-center bg-contain;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' d='M8.773 5.436 3.21 11l5.564 5.564M18.791 11H3.364'/%3E%3C/svg%3E");
      @apply rtl:rotate-180;
    }
  }

  &__title {
    @apply font-black text-2xl lg:text-3xl;
    @apply px-4 lg:px-6 my-6;
    @apply text-center lg:text-start;
  }

  &__body {
    @apply overflow-auto;
    @apply font-light text-base leading-7 text-justify;
    @apply bg-parchment;
    @apply mx-4 lg:mx-0 p-4 lg:px-6;
    border: 1px solid red;

    h1,
    h2,
    h3,
    h4,
    h5 {
      @apply font-bold mt-5 mb-1;
    }

    h1 {
      @apply text-2xl lg:text-3xl;
    }

    h2 {
      @apply text-xl lg:text-2xl;
    }

    h3 {
      @apply text-lg lg:text-xl;
    }

    h4 {
      @apply text-base lg:text-lg;
    }

    h5 {
      @apply text-sm lg:text-base;
    }

    ul {
      li {
        @apply relative;
        @apply flex items-center gap-3;

        &::before {
          content: "";
          @apply inline-block;
          width: 10px;
          height: 10px;
          @apply rounded-full;
          @apply bg-black;
          @apply opacity-75 bg-opacity-75;
        }
      }
    }
  }
}
